<?xml version="1.0"?>
<settings>
	<game expand="1" name="Test" select="1">
		<DirectInput name="Direct Input" on="1"></DirectInput>
		<Alt main="1" name="Main" Expand="1">
			<Mouse expand="1" Expand="1" select="1">
				<Read expand="1" Read="LThumb" Expand="1">
					<Dead Dead="3"></Dead>
					<Speed Speed="3"></Speed></Read></Mouse></Alt></game>
	<last game="Test"></last>
	<gui pos="x714 y192 w475 h597"></gui>
</settings>
